{% extends 'index.html' %}
{% load static %}
{% block title %}Mon tableau de bord - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
<section>
    <h1>Student Dashboard</h1>
    <div>
        <div>
            <h2>Dernier entraînement</h2>
            <ul>
                <li>{{ last_training.name }}</li>
                <li>
                    Aspects réussis
                    <ul>
                        <li>{{ last_training.successful_aspects.0 }}</li>
                        <li>{{ last_training.successful_aspects.1 }}</li>
                    </ul>
                </li>
                <li>
                    Aspects à améliorer
                    <ul>
                        <li>{{ last_training.improvement_areas.0 }}</li>
                        <li>{{ last_training.improvement_areas.1 }}</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div>
            <h2>Progression</h2>
            <canvas id="progressChart"></canvas>
            <div>
                <h3>Stats</h3>
                <p>Ton rang</p>
                <p>Tes trophés</p>
                <p>Ton niveau</p>
            </div>
        </div>
    </div>

    <div>
        <a href="#"><button>Banque de cas</button></a>
        <a href="#"><button>Cas aléatoire</button></a>
        <a href="#"><button>Entrainements précédents</button></a>
        <a href="#"><button>Corrections précédentes</button></a>
    </div>
</section>
{% endblock %}
