# in case of outside docker
venv/
env/

# Python compilation files
__pycache__/
*.py[cod]
*$py.class

.env

# OS files
.DS_Store
Thumbs.db

# Python
*.py[cod]
*$py.class
__pycache__/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

.venv/
.env/

# Environnement et Secrets
.env
.env.*

# Environnements de développement
.idea/
.vscode/
*.swp