{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div class="footer-content">
        <ul class="footer-links">
            <li><a href="/mentions-legales">{{ t.footer.Legal_notices }}</a></li>
            <li><a href="/politiques-confidentialite">{{ t.footer.Privacy_policy }}</a></li>
            <li><a href="/details-etude">{{ t.footer.Study_details }}</a></li>
            <li><a href="/contact">{{ t.footer.Contact }}</a></li>
        </ul>
    </div>
</footer>