{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'css/header_main.css' %}">
    <nav class="navbar">

        <div class="logo">
            <a href="{% url 'home' %}">VirtuORL
                {% if not user.is_authenticated %}
                <span style="font-size: 0.8em; font-weight: normal;">(non connecté)</span>
                {% elif user.is_superuser %}
                <span class="role-badge admin">(admin)</span>
                {% elif user.role == 'teacher' %}
                <span class="role-badge teacher">(prof)</span>
                {% else %}
                <span class="role-badge student">(étudiant)</span>
                {% endif %}
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Accueil</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'account' %}">{{ user.first_name }} {{ user.last_name }}</a></li>

            {% if user.is_superuser %}
            <li><a href="{% url 'logs' %}">Logs</a></li>
            <li><a href="{% url 'users' %}">Utilisateurs</a></li>
            <li><a href="{% url 'data' %}">Données</a></li>
            <li><a href="{% url 'export_students_csv' %}">Exporter Étudiants (CSV)</a></li>
            {% elif user.role == 'teacher' %}
            <li><a href="#">Étudiants</a></li>
            <li><a href="#">Exporter les données</a></li>
            {% else %}
            <li><a href="#">S'entraîner</a></li>
            <li><a href="#">Statistiques</a></li>
            {% endif %}

            <li><a href="{% url 'logout_view' %}">Se déconnecter</a></li>

            {% else %}
            <li><a href="{% url 'login_view' %}">Se connecter</a></li>
            <li><a href="{% url 'register' %}">Créer un compte</a></li>
            {% endif %}
        </ul>

        <a href={% if user.is_authenticated %}{% url 'account' %}{% else %}{% url 'login_view' %}{% endif %}>
            <div class="account">
            {% if user.is_authenticated %}
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            {% if user.is_superuser %}
            <span class="material-symbols-outlined">admin_panel_settings</span>
            {% elif user.role == 'teacher' %}
            <span class="material-symbols-outlined">school</span>
            {% else %}
            <span class="material-symbols-outlined">person</span>
            {% endif %}
            {% else %}
            <p>Mon compte</p>
            <span class="material-symbols-outlined">person</span>
            {% endif %}
        </div>
        </a>

        

    </nav>
    <script src="{% static 'js/profile.js' %}"></script>
</header>