<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">Virtuorl (etudiant)</a>
        </div>

        <ul class="nav-links">
            <li><a href="{% url 'compte' %}">
                {% if user.is_authenticated %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    Mon compte
                {% endif %}
            </a></li>
            <li><a href="#">S'entrainer</a></li>
            <li><a href="#">Statistiques</a></li>
            <li><a href="{% url 'deconnexion' %}">Se déconnecter</a></li>
        </ul>
    </nav>
</header>