<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">Virtuorl</a>
        </div>

        <ul class="nav-links">
            <li><a href="/about">A propos</a></li>
            <li><a href="/login">Se connecter</a></li>
            <li><a href="/signup">Créer un compte</a></li>
        </ul>

        <div class="account">
            <a href="/account">Mon compte</a>
            <img src="/static/images/avatar.png" alt="Image de profil" />
        </div>
    </nav>
</header>
