<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">Virtuorl</a>
        </div>

        <ul class="nav-links">
            <li><a href="{% url 'compte' %}">
                {% if user.is_authenticated %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    Mon compte
                {% endif %}
            </a></li>
            <li><a href="#">Etudiants</a></li>
            <li><a href="#">Exporter les données</a></li>
        </ul>
    </nav>
</header>
