{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'css/header_main.css' %}">
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'accueil' %}">VirtuORL (non connecter)</a>
        </div>

        <ul class="nav-links">
            <li><a href="{% url 'accueil' %}">{{t.header_main.Home_text}}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'deconnexion' %}">{{t.header_main.Deconnection_button}}</a></li>
            {% else %}
            <li><a href="{% url 'connexion' %}">{{t.header_main.Connection_text}}</a></li>
            <li><a href="{% url 'inscription' %}">{{t.header_main.Create_Account_text}}</a></li>
            {% endif %}
        </ul>

        <div class="account">
            <a href="{% url 'compte' %}">
                {% if user.is_authenticated %}
                {{ user.first_name }} {{ user.last_name }}
                {% else %}
                Mon compte
                {% endif %}
            </a>
            <span class="material-symbols-outlined">person</span>
        </div>
    </nav>
    <script src="{% static 'js/profile.js' %}"></script>
</header>