{% extends "index.html" %}
{% load static %}
{% block title %}Connexion - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}
{% block content %}


<div class="login-wrapper">
    <div class="container">
        <form method="post" action="{% url 'connexion' %}">
            {% csrf_token %}
            <div class="input-group">
                <label>{{t.connexion.Mail_label}}</label>
                <input type="text" name="username" required>
            </div>

            <div class="input-group">
                <label>t.connexion.Password_label</label>
                <input type="password" name="password" id="id_password" placeholder="----------------------------"
                    required>
                <span !class="eye-icon" onclick="togglePassword()">{{t.connexion.See_button}}</span>

                {% if messages %}
                {% for message in messages %}
                <p class="error-text">{{ message }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div class="actions">
                <button type="submit" class="btn-submit">{{t.connexion.Connexion_button}}</button>
                <a href="#" class="forgot-link">{{t.connexion.Forget_Password_link}}</a>
                <p class="register-link">{{t.connexion.Register_link}}<a href="{% url 'inscription' %}">{{t.connexion.Register_button}}</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block extra_script %}
<script>
    function togglePassword() {
        const passInput = document.getElementById('id_password');
        passInput.type = passInput.type === "password" ? "text" : "password";
    }
</script>
{% endblock %}