{% extends "index.html" %}
{% load static %}
{% block title %}Connexion - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}
{% block content %}


<div class="login-wrapper">
    <div class="container">
        <form method="post" action="{% url 'login_view' %}">
            {% csrf_token %}
            <div class="input-group">
                <label>{{t.connexion.Mail_label}}</label>
                <input type="text" name="username" required>
            </div>

            <div class="input-group">
                <label>{{t.connexion.Password_label}}</label>
                <div class="password-wrapper">
                    <input type="password" name="password" id="id_password" placeholder="----------------------------"
                        required>
                    <button type="button" class="eye-toggle" onclick="togglePassword('id_password', this)">
                        <span class="material-symbols-outlined">visibility_off</span>
                    </button>
                </div>

                {% if messages %}
                {% for message in messages %}
                <p class="error-text">{{ message }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div class="actions">
                <button type="submit" class="btn-submit">{{t.connexion.Connexion_button}}</button>
                <a href="{% url 'password_reset' %}" class="forgot-link">{{t.connexion.Forget_Password_link}}</a>
                <p class="register-link">{{t.connexion.Register_link}}<a
                        href="{% url 'register' %}">{{t.connexion.Register_button}}</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block extra_script %}
<script>
    function togglePassword(inputId, btn) {
        const input = document.getElementById(inputId);
        const icon = btn.querySelector('span');
        if (input.type === 'password') {
            input.type = 'text';
            icon.textContent = 'visibility';
        } else {
            input.type = 'password';
            icon.textContent = 'visibility_off';
        }
    }
</script>
{% endblock %}