{% extends 'index.html' %}
{% load static %}
{% block title %}Inscription - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}
{% block body_class %}inscription-page{% endblock %}
{% block content %}

<div class="container">
    {% if form.errors %}
    <ul class="error-list">
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ field.label }} : {{ error }}</li>
        {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endif %}
    </ul>
    {% endif %}

    <form method="post" action="{% url 'inscription' %}" id="register-form">
        {% csrf_token %}
        <input type="hidden" name="username" id="id_username">

        <div class="form-grid">
            <div class="col">
                <div class="input-group">
                    <label>{{ t.inscription.Name_label }}</label>
                    <input type="text" name="last_name" placeholder="{{ t.inscription.Name_placeholder }}" required tabindex="1">
                </div>
                <div class="input-group">
                    <label>{{ t.inscription.FirstName_label }}</label>
                    <input type="text" name="first_name" placeholder="{{ t.inscription.Firstname_placeholder }}" required tabindex="2">
                </div>
                <div class="input-group">
                    <label>{{ t.inscription.Mail_label }}</label>
                    <input type="email" id="user-email" name="email" placeholder="{{ t.inscription.Mail_placeholder }}" required
                        tabindex="5">
                </div>
                <div class="input-group">
                    <label>{{ t.inscription.Password_label }}</label>
                    <input type="password" id="pass1" name="password1" placeholder="{{ t.inscription.Password_placeholder }}" required
                        tabindex="7">
                    <span class="eye-icon" onclick="togglePass('pass1')">{{ t.inscription.Password_span }}</span>
                </div>
            </div>

            <div class="col">
                <div class="input-group">
                    <label>{{ t.inscription.University_label }}</label>
                    {{ form.university }}
                </div>
                <div class="input-group">
                    <label>{{ t.inscription.Years_label }}</label>
                    {{ form.study_year }}
                </div>
                <div class="email-row">
                    <div class="input-group">
                        <label>{{ t.inscription.Verification_Code_label }} <small style="color:#9ca3af;font-weight:400">{{ t.inscription.Time_span }}</small></label>
                        <input type="text" name="verification_code" placeholder="{{ t.inscription.Verification_Code_placeholder }}" tabindex="6" required
                            maxlength="6" inputmode="numeric" autocomplete="one-time-code">
                    </div>
                    <button type="button" class="btn-send-code" id="send-code-btn" tabindex="-1">{{ t.inscription.Send_Code_button }}</button>
                </div>
                <div id="code-status" style="font-size:13px; margin-top:4px; min-height:18px;"></div>
                <div class="input-group" style="margin-top: 20px;">
                    <label>{{ t.inscription.Confirm_Password_label }}</label>
                    <input type="password" id="pass2" name="password2" placeholder="{{ t.inscription.Confirm_Password_placeholder }}" required
                        tabindex="8">
                    <span class="eye-icon" onclick="togglePass('pass2')">{{ t.inscription.See_span }}</span>
                </div>
            </div>
        </div>

        <div class="consent-container">
            <input type="checkbox" name="consent" id="consent" required tabindex="9">
            <label for="consent">En utilisant ce site je consens au rgpd etc</label>
        </div>
        <div class="consent-container">
            <input type="checkbox" name="scientific_study" id="scientific_study" tabindex="9">
            <label for="scientific_study">{{ t.inscription.Consent_label }}</label>
        </div>

        <button type="submit" class="btn-submit" tabindex="10">{{ t.inscription.Register_button }}</button>
    </form>
</div>

{% endblock %}
{% block extra_script %}
<script src="{% static 'js/inscription.js' %}"></script>
{% endblock %}