{% extends 'index.html' %}
{% load static %}
{% block title %}{{t.password_reset_done.Title_header}}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="container" style="text-align: center;">
        <h2 style="margin-bottom: 20px;">{{t.password_reset_done.email_send}}</h2>
        <p>{{t.password_reset_done.Text_email}}</p>
        <p>{{t.password_reset_done.Text_spam}}</p>
        <div class="actions" style="margin-top: 20px;">
            <p class="register-link"><a href="{% url 'login_view' %}">{{t.password_reset_done.Button_return}}</a></p>
        </div>
    </div>
</div>
{% endblock %}