{% extends 'index.html' %}
{% load static %}
{% block title %}{{t.password_reset_form.Title_header}}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="container">
        <h2 style="text-align: center; margin-bottom: 20px;">{{t.password_reset_form.text_title}}</h2>
        <p style="text-align: center; margin-bottom: 20px;">{{t.password_reset_form.text_description}}</p>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <label>Mail</label>
                <input type="email" name="email" required autocomplete="email">
                {% if form.email.errors %}
                <p class="error-text">{{ form.email.errors }}</p>
                {% endif %}
            </div>
            <div class="actions">
                <button type="submit" class="btn-submit">{{t.password_reset_form.Button_submit}}</button>
                <p class="register-link"><a href="{% url 'login_view' %}">{{t.password_reset_form.Button_return}}</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}