{% extends 'index.html' %}
{% load static %}
{% block title %}Succès - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="container" style="text-align: center;">
        <h2 style="margin-bottom: 20px; color: green;">Mot de passe modifié !</h2>
        <p>Votre mot de passe a été réinitialisé avec succès.</p>
        <div class="actions" style="margin-top: 20px;">
            <a href="{% url 'login_view' %}" class="btn-submit" style="text-decoration: none;">Se connecter</a>
        </div>
    </div>
</div>
{% endblock %}