{% extends 'index.html' %}
{% load static %}
{% block title %}E-mail envoyé - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="container" style="text-align: center;">
        <h2 style="margin-bottom: 20px;">E-mail envoyé !</h2>
        <p>Si vous avez un compte avec {{email}} comme mail vous recevrez un e-mail contenant des instructions pour
            réinitialiser votre mot de passe.</p>
        <p>Si vous ne le recevez pas d'ici quelques minutes, vérifiez vos courriers indésirables (spams).</p>
        <div class="actions" style="margin-top: 20px;">
            <p class="register-link"><a href="{% url 'connexion' %}">Retour à la connexion</a></p>
        </div>
    </div>
</div>
{% endblock %}