{% extends 'index.html' %}
{% load static %}
{% block title %}Nouveau mot de passe - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/connexion.css' %}">
{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="container">
        {% if validlink %}
        <h2 style="text-align: center; margin-bottom: 20px; color: var(--blue-dark);">Nouveau mot de passe</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="input-group">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <p class="error-text">{{ field.errors.0 }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="actions" style="margin-top: 20px;">
                <button type="submit" class="btn-submit">Changer mon mot de passe</button>
            </div>
        </form>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}