{% extends 'index.html' %} {% block title %}{{ t.case_creation.Page_title }} - DR. VIRTUORL{% endblock %} {% block
content %}
<link rel="stylesheet" href="{% static 'css/case_creation.css' %}" />
<link rel="stylesheet" href="../../assets/css/case_creation.css" />
<h2>Creation de cas</h2>
<form>
    <div class="border text-section">
        <label for="title">Titre:</label>
        <input type="text" id="title" name="title" placeholder="Entrez le titre du cas ici" />
    </div>

    <div class="border text-section" id="prompt">
        <label for="prompt">Prompt:</label>
        <textarea id="prompt" name="prompt" placeholder="Entrez votre prompt ici"></textarea>
    </div>

    <div id="details">
        <div class="border details selection">
            <label for="specialty">Spécialité 1:</label>
            <select>
                <option value="null" autofocus>Select</option>
                {% for specialty in specialties %}
                <option value="{{ specialty.id }}">{{ specialty.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="border details selection">
            <label for="specialty">Spécialité 2:</label>
            <select>
                <option value="null" autofocus>Select</option>
                {% for specialty in specialties %}
                <option value="{{ specialty.id }}">{{ specialty.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="border details selection">
            <label for="difficulty">Difficulté:</label>
            <select>
                <option value="1">Facile</option>
                <option value="2" autofocus>Moyen</option>
                <option value="3">Difficile</option>
            </select>
        </div>
    </div>

    <button type="submit" value="Submit" class="border" id="submit">Créer le cas</button>
</form>
{% endblock %}
