{% extends 'index.html' %}
{% load static %}
{% block title %}{{ t.following_students.Page_title }} - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}
{% block content %}
<section class="student-monitoring">
    <h2>{{ t.following_students.Heading }}</h2>
    <ul>
        {% for student in students %}
        <li class="student-card">
            <div class="student-header">
                <span class="material-symbols-outlined">person</span>
                <p><strong>{{ t.following_students.Lastname_label }} :</strong> {{ student.name }}</p>
                <p><strong>{{ t.following_students.Firstname_label }} :</strong> {{ student.firstname }}</p>
            </div>

            <div class="student-details">
                <p><strong>{{ t.following_students.Email_label }} :</strong> {{ student.email }}</p>
                <p><strong>{{ t.following_students.Gender_label }} :</strong> {{ student.gender }}</p>
                <p><strong>{{ t.following_students.Study_level_label }} :</strong> {{ student.level }}</p>
                <p><strong>{{ t.following_students.Test_count_label }} :</strong> {{ student.testAmount }}</p>
                <p><strong>{{ t.following_students.Study_year_label }} :</strong> {{ student.year }}</p>
                <p><strong>{{ t.following_students.Specialty_label }} :</strong> {{ student.specialty }}</p>
                <p><strong>{{ t.following_students.Age_label }} :</strong> {{ student.age }}</p>
            </div>
        </li>
        {% empty %}
        <p>{{ t.following_students.No_students }}</p>
        {% endfor %}
    </ul>
</section>
{% endblock %}