<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<ul>
    <h2>Liste des étudiants suivis</h2>
    {% for student in students %}
    <li>
        <div>
            <span class="material-symbols-outlined">person</span>
            <p>nom: {{ student.name }}</p>
            <p>prénom: {{ student.firstname }}</p>
        </div>

        <p>Email: {{ student.email }}</p>
        <p>Genre: {{ student.gender }}</p>
        <p>Niveau d'étude: {{ student.level }}</p>
        <p>Nombre de tests: {{ student.testAmount }}</p>
        <p>Année d'études: {{ student.year }}</p>
        <p>Spécialité: {{ student.specialty }}</p>
        <p>Age: {{ student.age }}</p>
    </li>
    {% endfor %}
</ul>
