<link rel="stylesheet" href="../../assets/css/dashboard.css" />
{% extends 'index.html' %} {% block title %}Tableau de bord professeur - DR. VIRTUORL{% endblock %} {% block content %}
<section>
    <h1>Teacher Dashboard</h1>
    <div class="top-infos">
        <div class="section1 sections">
            <h2>Derniers cas publiés</h2>
            <ul>
                {% for case in cases %}
                <li>
                    <button>{{ case.name }}</button>
                    <p>{{ case.specialty }}</p>
                    <p>{{ case.level }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="section2 sections">
            <h2>Derniers entrainements d'élèves</h2>
            <ul>
                {% for training in trainings %}
                <li>
                    <p>nom de l'élève</p>
                    <button>nom du cas</button>
                    <p>note</p>
                    <p>temps</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="actions">
        <a href="#"><button class="action-btn">Banque de cas</button></a>
        <a href="#"><button class="action-btn">Suivi des étudiants</button></a>
        <a href="#"><button class="action-btn">Exporter les données</button></a>
        <a href="#"><button class="action-btn">Création de cas</button></a>
    </div>
</section>
{% endblock %}
