<section>
    <h1>Teacher Dashboard</h1>
    <div>
        <div>
            <h2>Derniers cas publiés</h2>
            <ul></ul>
        </div>

        <div>
            <h2>Derniers entrainements d'élèves</h2>
            <ul>
                <li>
                    <div>
                        <p>nom de l'élève</p>
                        <button>nom du cas</button>
                        <p>note</p>
                        <p>temps</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>nom de l'élève</p>
                        <button>nom du cas</button>
                        <p>note</p>
                        <p>temps</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>nom de l'élève</p>
                        <button>nom du cas</button>
                        <p>note</p>
                        <p>temps</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <a href="#"><button>Banque de cas</button></a>
        <a href="#"><button>Suivi des étudiants</button></a>
        <a href="#"><button>Exporter les données</button></a>
        <a href="#"><button>Création de cas</button></a>
    </div>
</section>
