body {
    background-color: rgb(221, 242, 243);
    height: 100vh;
}

section {
    padding: 20px;
}

.top-infos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.sections {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
}

.section1 {
    background-color: rgb(119, 174, 207);
}

.section2 {
    background-color: white;
}

.actions {
    margin-top: 20px;
    width: 95%;

    justify-self: center;
    border-radius: 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    padding: 20px;
    background-color: rgb(119, 174, 207);
}

.action-btn {
    width: 100%;
    height: 100px;

    border: none;
    border-radius: 10px;

    background-color: white;
    font-size: 16px;
}

.action-btn:hover {
    background-color: rgb(221, 242, 243);
}
