{% extends 'index.html' %}
{% load static %}
{% block title %}Accueil - DR. VIRTUORL{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/accueil.css' %}">
{% endblock %}
{% block content %}
<main>
    <div id="background">
        <h2>{{ t.Accueil.Hero_Title }}</h2>
    </div>
    <div id="container">
        <div class="card">
            <div id="container-img">
                <span class="material-symbols-outlined">personal_injury</span>
            </div>
            <div id="container-descritpion">
                <h3>{{ t.Accueil.Card1_Title }}</h3>
                <p>{{ t.Accueil.Card1_Text }}</p>
            </div>
        </div>
        <div class="card">
            <div id="container-img">
                <span class="material-symbols-outlined">psychology</span>
            </div>
            <div id="container-descritpion">
                <h3>{{ t.Accueil.Card2_Title }}</h3>
                <p>{{ t.Accueil.Card2_Text }}</p>
            </div>
        </div>
        <div class="card">
            <div id="container-img">
                <span class="material-symbols-outlined">joystick</span>
            </div>
            <div id="container-descritpion">
                <h3>{{ t.Accueil.Card3_Title }}</h3>
                <p>{{ t.Accueil.Card3_Text }}</p>
            </div>
        </div>
    </div>
    <div id="container">
        <h2>{{ t.Accueil.Team_Names }}</h2>
    </div>
    <div id="about">
        <h3>{{ t.Accueil.About_Title }}</h3>
        <div>
            <div class="card-type-one">
                <div>
                    <span class="material-symbols-outlined">medical_services</span>
                </div>
                <div>
                    <h4>{{ t.Accueil.Challenge_Title }}</h4>
                    <ul>
                        <li>{{ t.Accueil.Challenge_Item1 }}</li>
                        <li>{{ t.Accueil.Challenge_Item2 }}</li>
                        <li>{{ t.Accueil.Challenge_Item3 }}</li>
                    </ul>
                </div>
            </div>
            <div class="card-type-two">
                <h4>{{ t.Accueil.Loop_Title }}</h4>
                <span class="material-symbols-outlined">conditions</span>
                <p>{{ t.Accueil.Loop_Description }}</p>
            </div>
            <div class="card-type-one">
                <div>
                    <span class="material-symbols-outlined">cycle</span>
                </div>
                <div>
                    <h4>{{ t.Accueil.Study_Title }}</h4>
                    <ul>
                        <li>{{ t.Accueil.Study_Item1 }}</li>
                        <li>{{ t.Accueil.Study_Item2 }}</li>
                        <li>{{ t.Accueil.Study_Item3 }}</li>
                    </ul>
                </div>
            </div>
            <div class="card-type-two">
                <h4>{{ t.Accueil.Loop_Title }}</h4>
                <span class="material-symbols-outlined">map_pin_review</span>
            </div>
        </div>
    </div>
    <div id="publication">
        <div id="container">
            <h3>{{ t.Accueil.Publications_Title }}</h3>
        </div>
        <div id="list-ex">
            <div class="row">
                <div class="title-line">{{ t.Accueil.Test1_Title }}</div>
                <div class="difficult-line">{{ t.Accueil.Test1_Difficulty }}</div>
                <div class="matiere-line">{{ t.Accueil.Test1_Subject }}</div>
                <div class="description-line">{{ t.Accueil.Test1_Desc }}</div>
            </div>
            <div class="row">
                <div class="title-line">{{ t.Accueil.Test2_Title }}</div>
                <div class="difficult-line">{{ t.Accueil.Test2_Difficulty }}</div>
                <div class="matiere-line">{{ t.Accueil.Test2_Subject }}</div>
                <div class="description-line">{{ t.Accueil.Test2_Desc }}</div>
            </div>
            <div class="row">
                <div class="title-line">{{ t.Accueil.Test3_Title }}</div>
                <div class="difficult-line">{{ t.Accueil.Test3_Difficulty }}</div>
                <div class="matiere-line">{{ t.Accueil.Test3_Subject }}</div>
                <div class="description-line">{{ t.Accueil.Test3_Desc }}</div>
            </div>
        </div>
    </div>
    <div id="roadMap">

    </div>
    <div id="goal">
        <h3>{{ t.Accueil.Goal_Title }}</h3>
        <img src="" alt="">
    </div>
</main>
{% endblock %}